ENVIRONMENT=dev
LOG_LEVEL=INFO

BOT_TOKEN=TOKEN_EXAMPLE

VOICES_DIR=storage/voices

WHISPER_CPP_DIR=/path/to/your/whisper.cpp
WHISPER_MODEL=ggml-base.bin

WHISPER_PORT=8080
WHISPER_HOST=host.docker.internal
