ENVIRONMENT=dev
LOG_LEVEL=INFO

BOT_TOKEN=TOKEN_EXAMPLE

VOICES_DIR=storage/voices

WHISPER_CPP_DIR=/path/to/your/whisper.cpp
WHISPER_MODEL=ggml-base.bin

WHISPER_PORT=8080
WHISPER_HOST=host.docker.internal

HOST_OBSIDIAN_DIR=/path/to/your/obsidian/folder
OBSIDIAN_DIR=/app/storage/obsidian

LLM_API_BASE=http://localhost:1234/v1
LLM_MODEL=your/llm-9b

REDIS_URL=redis://localhost:6379/0
FLUSH_TIMEOUT_MINUTES=60
